.neo-city,
.h-and-a,
.ceo,
.neo-city-t,
.neo-city-m,
.neo-city-b,
.opera-outside,
.secret-lair,
.phantom-face {
  width: 100%;
  height: 100%;
}

.opera-crowd {
  width: 100%;
  height: 150%;
}

.text {
  text-align: justify;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
