@use './VisualTwo/_visualtwo.module';
@use './VisualThree/visualthree.module';
@use './VisualFour/visualfour.module';

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


//Homepage

body {
  background-color: #131313;
  font-family: 'Bangers', cursive;
}

.homepage {
  margin: 0;
  padding: 0;
  background-image: url('../../public/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100vw; 
  height: 100vh;
}

.homepage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 14px;
  color: rgb(38, 118, 188);
  text-decoration: wavy;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.493);
  border-radius: 10px;
  font-family: 'Bangers', cursive;
}

.homepage-text::before,
.homepage-text::after {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.421);
  border-radius: 15px;
}

.homepage-text::before {
  transform: skewX(-20deg);
}

.homepage-text::after {
  transform: skewX(20deg); 
}


// VisualOne
section {
  width: 99.9%;
  margin: 0 auto;
}

.visual-board {
  background-color: #131313;
  img {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.884);
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: cover;    
  }
}

.vn1-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.884);
}

.vn1-caption {
  color: #fff;
  font-size: large;
}

//Footer

.footer {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  color: rgb(38, 118, 188);
}