.miamiL,
.miamiR,
.miamiM {
  width: 100%;
  aspect-ratio: 3/5;
  position: relative;
}

@media (max-width: 768px) {
  .miamiL,
  .miamiR,
  .miamiM {
    height: 100%;
  }
}

.onceUponATime,
.oneDayP,
.theConceptP,
.excitedAboutP,
.textBlock3,
.textBlock5,
.textBlock6,
.textBlock7,
.textBlock12,
.professorKhaled {
  color: #fff;
  font-size: 27px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.onceUponATime,
.oneDayP,
.excitedAboutP,
.professorKhaledKickedOffP,
.professorKhaled,
.yearPassedP {
  text-align: justify;
  flex-direction: column;
}

.yearPassedP {
  height: min-content;
}

.sideProfileKhaled,
.redKhaled,
.blueKhaled,
.goldenKhaled,
.orangeKhaled,
.sideProfileKhaled,
.khaledWChain,
.image13,
.image14,
.professorK,
.studentHall,
.speechKhaled,
.graduatingStudents {
  width: 100%;
  height: 100%;
}
